name: Fetch Dad Joke

on:
  push:
    branches:
      - main

jobs:
  fetch-joke:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Fetch Dad Joke
        env:
          DAD_JOKES_API_KEY: ${{ secrets.DAD_JOKES_API_KEY }} # Use the secret here
        run: |
          # Access the API key as an environment variable
          echo "Using API Key: $DAD_JOKES_API_KEY"
